.sidebarOptions{
    color: grey;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    transition: 200ms ease-in;
}

.sidebarOptions > p{
    margin-top: 10px;
    margin-left: 10px ;
    font-size: 14px;
}

.sidebarOptions:hover{
    color: white;
}

.sidebarOptions__icon{
    padding: 0 10px;
}

.sidebarOptions > p{

}